body {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 30%,
      rgba(0, 0, 0, 0.214) 50%
    ),
    linear-gradient(rgba(0, 0, 0, 0.226) 40%, rgba(0, 0, 0, 0.7) 80%),
    url("zjgs096khv591.jpg");
  height: 100vh;
  background-size: cover;
}

.logo {
  position: absolute;
  top: -50px;
  left: 40px;
  width: 10%;
}

.signIn {
  display: flex;
  align-items: center;
  background-color: #e50914;
  color: #fff;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 40px;
  padding: 5px 10px;
  justify-content: center;
}
.signIn:hover,
.trial:hover {
  background-color: #c11119;
  color: #fff;
  transition: all 1sec ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.submit {
  display: block;
  color: #fff;
  font-family: "Montserrat";
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.1;
  margin-bottom: 20px;
}
.subheader {
  font-size: 32px;
}
.email {
  width: 550px;
  height: 60px;
  margin-top: 20px;
  margin-left: -50px;
}
.trial {
  background-color: #e50914;
  font-size: 28px;
  color: #fff;
  border-radius: 0;
  height: 60px;
  width: 330px;
  margin-bottom: 2px;
  padding: 0;
}
.membership,
.subtext {
  font-size: 22px;
  margin-top: 25px;
}
